<h1 class="title">Edades</h1>

<div class="container">
	<div>
		<label class="d-block" for="EdadUno">Edad 1</label>
		<input [(ngModel)]="edadUno"  id="EdadUno" type="number" (keyup)="this.makeCalculations()" class="input-field">
	</div>

	<div>
		<label class="d-block" for="EdadDos">Edad 2</label>
		<input [(ngModel)]="edadDos" id="EdadDos" type="number" (keyup)="this.makeCalculations()" class="input-field">
	</div>

	<div class="result">
		<label class="d-block" for="Suma">Suma</label>
		<input id="Suma" type="text" [(ngModel)]="sum" readonly class="result-field">
	</div>

	<div class="result">
		<label class="d-block" for="Promedio">Promedio</label>
		<input id="Promedio" type="text" [(ngModel)]="average" readonly class="result-field">
	</div>
</div>
