<div class="text-center back-img">
    <h1 class="display-5 fw-bold">Bienvenido</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Esta es la página de bienvenida de los ejercicios <br> de la clase 02 de laboratorio IV de Pablo Córdoba.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button routerLink="/login" type="button" class="btn btn-primary btn-lg px-4 gap-3">Ingresar</button>
        <button routerLink="/average" type="button" class="btn btn-outline-secondary btn-lg px-4">Edades</button>
      </div>
    </div>
</div>